<div class="createPinForm">
	<input type="text" name="Title" ng-model="pinItem.userPinTitle" placeholder="Title">
	<input type="text" name="Description" ng-model="pinItem.description" placeholder="Description">
	<input type="text" name="Category" ng-model="pinItem.category" placeholder="Category">
	<input type="text" ng-model="pinItem.url">
	<img src="{{pinItem.url}}" alt="some_text" style="width:128px;height:128px;">
	<input type="button" class="btn btn-default"  ng-click="savePin()">

</div>


  <div class="card-block">
    <h4 class="card-title">Card title</h4>
    <p class="card-text"></p>
    <button type="button" class="btn btn-info " data-toggle="modal" data-target="#myModal">Edit</button>
    <a href="#" class="btn btn-primary">Save</a>
  </div>
</div>

<!-- Modal Code -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">


    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Pin</h4>
      </div>
      <div class="modal-body">
        <p>Save or Delete</p>
      </div>
      <div class="modal-footer">
        <button id="deleteModalButton" type="button" class="btn btn-default">Delete</button>
      </div>
    </div>

  </div>
</div>

<!-- modal delete button -->
<div id="myModal" class="modal hide">
    <div class="modal-header">
        <a href="#" data-dismiss="modal" aria-hidden="true" class="close">×</a>
         <h3>Delete</h3>
    </div>
    <div class="modal-body">
        <p>You are about to delete.</p>
        <p>Do you want to proceed?</p>
    </div>
    <div class="modal-footer">
      <a href="#" id="btnYes" class="btn danger">Yes</a>
      <a href="#" data-dismiss="modal" aria-hidden="true" class="btn secondary">No</a>
    </div>

